@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    .fin {
        color: blue;
        font-family: Algerian;
        font-size: x-large;
    }

    h3 {
        text-align: center;
        color: deepskyblue;
        font-family: Algerian;
    }

    h1 {
        text-align: center;
        font-size: larger;
        text-anchor: middle;
    }

    about {
        vertical-align: baseline;
    }
</style>
<html>
<body>
    <div class="about">
        <p><center>>Spring</center></p>

        <h1>About Us</h1>
        <p>WELCOME to the <i>SPRING</i> World</p>
        <p>WE are here to <bold>Make</bold> The BEST<strong>BEST</strong>
    </div>

    <p class="fin">Founder & Chairman</p>
    <h3>VIRAJ PATEL</h3>

    <p>
        Myself Viraj Patel. I am the  CEO of THE mega company <strong>SPRING</strong>.
    </p>


    <p class="fin">Financial Advicer</p>
    <h3>Michale CLARK</h3>

    <p>
        My name is Michal Clark. I am Finanal advicer of Spring. I have joined this organization
        on 2005.
    </p>

    <p class="Pn">5197745162</p>



    <p class="fin">Web developer</p>
    <h3>stave smith</h3>

    <p>
        My name is stave smith. I am a web developer pf springs. I am developing different kind of website for spring organization.
        I am updating the web when needed espeically for any festival or special offer going on. Currently, we are taking order from the
        different part of canada However, My goal is to taking order online all over the world. Also, Which makes our company globally
        established.
    </p>
    <p class="Pn">5194456585/p>


</body>
</html>
